body, html {
    height: 100%;
}

body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header, main, aside, footer {
    border: 1px solid #888;
    box-shadow: 2px 2px 5px #888;
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    margin: 1em;

}

header, footer {
    flex-basis: 100%;
}

main {
    flex: 8 1 40rem;
    height: 400px;

}

aside {
    flex: 2 1 20rem;
    height: 400px;

}