body {
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    display: flex;
    margin: 2em;
    width: 1200px;
    line-height: 1.5;
}

article {
    width: 50em;
    margin-right: 1em;
}

header {
    margin-bottom: 3em;
}

img {
    width: 100%;
    height: auto;
    width: 28rem;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    vertical-align: middle;
    padding: 0;
    margin: 0
}


