body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

h1 {
    size: 28px;
}

p {
    size: 24px;
}

.written-by {
    font-style: italic;
}


ul {
    background-color: #444;
    padding: 0px;
    margin: 0px;
    list-style: none;
    align-items: center;
}

li {
    size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background-color: #444;
}

.footer-text {
    text-align: center;
    color: #fff;
    padding: 10px;
}


