body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-direction: column;
    flex-wrap: wrap;
}

span {
    border: 1px solid black;
    margin: 5px;
    padding: 14px 30px 14px 30px;
    width: 30px;
    text-align: center;
}

.S {
    order: 0;
}
.e {
    order: 1;
}
.m {
    order: 2;
}
.a {
    order: 3;
}
.n {
    order: 4;
}
.t {
    order: 5;
}
.i {
    order: 6;
}
.c {
    order: 7;
}
.H {
    order: 8;
}
.T {
    order: 9;
}
.M {
    order: 10;
}
.L {
    order: 11;
}