html {
    background-color: lightslategray;
}

p {
    margin: auto;
    width: 300px;
    background-color: #0F4069;
    border: 2px solid #e6eaef;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    

}