* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.container {
    max-width: 65vw;
    display: flex;
}

span {
    display: block;
    border: 1px solid black;
    padding: 1em;
    flex-grow: 1;
    min-height: 8em;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.special {
    flex: 1 0 100%;
}




